@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Scroll Properties */

textarea,
div {
	scrollbar-width: thin;
}

textarea::-webkit-scrollbar,
div::-webkit-scrollbar {
	/* Total Width (incl. left + right gaps + scrollbar), 30px equivalent */
	width: 1.6666rem;
	/* 30px equivalent */
	height: 1.3875rem;
}

textarea::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
	border-radius: 1.11rem;
}

textarea::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 1.11rem;
	/* Left & Right gaps through transparent border, 10px + 10px equivalent */
	border: 0.555rem solid transparent;
	background-clip: content-box;
}

textarea:hover::-webkit-scrollbar-thumb,
div:hover::-webkit-scrollbar-thumb {
	/* rgba(97, 112, 123, 1) */
	background: rgba(97, 112, 123, 1);
	border-radius: 1.11rem;
	border: 0.555rem solid transparent;
	background-clip: content-box;
}

textarea::-webkit-scrollbar-corner,
div::-webkit-scrollbar-corner {
	background: transparent;
}
